{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail


echo "========================================="
echo "       Syncing Packages via Brewfile     "
echo "========================================="

# 1. Install Homebrew if missing
if ! command -v brew &> /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# 2. Run the Brewfile synchronization
if command -v brew &> /dev/null; then
    echo "Installing all dependencies defined in ~/.homebrew/Brewfile..."

    # This automatically processes taps, casks, and packages in order
    HOMEBREW_BUNDLE_NO_LOCK=1 brew bundle --global

    echo "Brewfile sync complete."
fi

{{ end -}}
