{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install Homebrew if not already
if ! command -v brew &> /dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install my packages
brew install ripgrep
{{ end -}}
